<p id="notice"><%= notice %></p>

<p>
  <strong>Table:</strong>
  <%= @reservation.table_id %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @reservation.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @reservation.end_time %>
</p>

<p>
  <strong>Additional info:</strong>
  <%= @reservation.additional_info %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
