<!DOCTYPE html>
<html>
<head>
  <title>Restaurant</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <h3><%= link_to("Calendar", calendar_path) %></h3>
    <h3><%= link_to("Tables", tables_path) %></h3>
    <h3><%= link_to("Reservations", reservations_path) %></h3>
  </div>
<%= yield %>

</body>
</html>
